/* Will be compiled down to a single stylesheet with your sass files */
.wrapper{width:960px;margin:10px auto;}
h1,h2,h3,h4{clear:both;margin:0;}
h3{margin-top:10px;}
h4{display:inline;}
input{width:250px;}
.container{display:table;margin-bottom:15px;}

.task{clear:left;float:left;background:#bfbfbf;padding:0 10px 10px 10px;width:100%;}
.field{float:left;margin:10px 5px 0 0;width:200px;}
.task input{background:#bfbfbf;border:none;width:100%;}
.task input:focus{background:#fff;}
.field label{display:block;}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


.icon{width:36px;height:36px;display:inline-block;text-indent:-9999px;background:url(../images/icons.png) no-repeat 0 0;}

.rating{position:relative;overflow:hidden;z-index:1;height:20px;}
.rating .stars{position:relative;top:-20px;left:0;z-index:3;height:20px;background: url(../images/rating.png) repeat-x 0 0;}
.rating .bg{position:relative;top:0;left:0;z-index:2;height:100%;background-color:#B57A15;}

.star{display:inline-block;width:22px;height:20px;background:url(../images/star.png) 0 0;}