<div class="task" ng-repeat="task in tasks">
  <div class="field">
    <label>Task Name:</label> 
    <input type="text" name="taskTitle" ng-model="task.title" ui-event="{blur: 'updateTaskName()'}" required />
  </div>
  
  <div class="field">
    <label>Task Length:</label> 
    <input type="text" name="taskLength" ng-model="task.length" ui-event="{blur: 'updateTaskLength()'}" />
  </div>

  <div class="field">
    <label>Start Date and Time:</label>
    <input name="taskStartDateTime" type="text" ui-jq="datetimepicker" ui-options="pickerOptions" ng-model="task.startDate" ui-event="{blur: 'updateStartDateTime()'}" />
  </div>
</div>
