<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Field Editors</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="css/main.css"/>
	      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">

    </head>
    <body ng-app="fieldEditorsApp">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="wrapper">
          <h1>Tasks</h1>      
          <div class="container" ng-controller="appCtrl" ng-view></div>

          <h2>Filters</h2>
          <div class="container" ng-controller="appFilters">
            <div>
              <h3>Date &amp; Time Filters</h3>
              <input type="text" ng-model="currentDate" /><br />
              <h4>Date:</h4> <b>'yyyy':</b> {{ currentDate | date: 'yyyy' }}, 
              <b>'yy':</b> {{ currentDate | date: 'yy' }},<br />
              <h4>Time:</h4> <b>'h:mm:ss a':</b> {{ currentDate | date: 'h:mm:ss a' }},
              <b>'h:mm a':</b> {{ currentDate | date: 'h:mm a' }}

              <h3>Currency Filters</h3>
              <input type="text" ng-model="amount" /><br />
              <h4>US Dollars</h4> <b>'default - $':</b> {{ amount | currency }}<br />
              <h4>Rubbles</h4> <b>'RUB':</b> {{ amount | currency: 'RUB' }}
            </div>   
                     
          </div>
          
          
        </div>
	      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	      <script src="js/lib/jquery/jquery-ui-timepicker-addon.js"></script>
        <script src="js/lib/angular/angular.js"></script>
        <script src="js/lib/angular-ui/angular-ui.js"></script>

        <!-- build:js scripts/scripts.js -->
        <script src="js/app.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/filters.js"></script>
        <!-- endbuild -->
        
    </body>
</html>
